<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center">
      <h3> <%= @article.title %> </h3>
    </div>

  </div>
  <div class="row">
    <div class="col-12 justify-content-center">
      <p><%= @article.content %></p>
    </div>
  </div>

  <div>
    <%= link_to 'Delete article', article_path(@article), method: :delete  %>
  </div>

</div>


