// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h3 {
//   color: #04549C;
// }

.navbar {
  height: 50px;
  background-color: #F4F4F4;
  border-bottom: 3px;
}

.container {
  padding: 15px;
}

.btn {
  margin-top: 10px;
}
